body{
    font-family: 'Poppins', sans-serif;
}
.orange{
    color: orange;

}
.home1{
    display:flex;
    margin-bottom: 100px;
    
}
.mission1{
    width: 80%;
    padding-left: 5%;
}
.mission2 img{
    width: 30%;
    height: 100%;

}
.link-button{
text-decoration-line: none;
background-color: tomato;
 background-image: -moz-linear-gradient(orange);
 padding: 10px 40px;
 border-radius: 5%;  
}

.home2{
    display: flex;
}
.mission3 img{
    width: 50%;
    height: 100%;
    margin-left: 15%;
    

}
.mission4 {
    width: 100%;
    height: 100%;
    margin-right: 35%;
}
.link-button{

}